<div class="container">
    <h2>Welcome to the Preliminary Patent Search</h2>
    <h4>A Message for Graders</h4>
    <p>
        Thank you for taking the time to grade my capstone project. I hope 
        the navigation through the pages will be self-explanatory, but if not,
        you can see the app's functionality demonstrated by doing the following:
    </p>
    <ol>
        <li>Put yourself in the shoes of a small-time inventor and think of a quick description for an invention you might want to patent, 2-3 sentences.</li>
        <li>Go to the <em>Find Your CPC</em> page and use the search functions there to find the CPC of your invention.</li>
        <li>Go to the <em>Preliminary Search</em> page. Enter your invention description and CPC into the appropriate search fields.</li>
        <li>Look at your search results from the patent database. You can also remove the CPC code and search again for different (probably less useful) results.</li>
    </ol>
    <p>
        See the <em>About</em> page for details about myself and this app.
    </p>
</div>