
<div class="container pt-2">
    <h2>Legal Disclaimer</h2>
    <p>
        While this Preliminary Patent Search has been designed to assist inventors in
        categorizing their inventions and gaining insight as to the novelty of their
        inventions, the information provided by this application does not constitute
        legal advice. The creator of this app is free from any liability incurred through
        its use.
    </p>
    <h3>Find Your CPC - Disclaimer</h3>
    <p>
        The "Find Your CPC" page in this application does not guarantee that on patent 
        prosecution that the invention will be assigned the Cooperative Patent Classification
        found in the app.
    </p>
    <h3>Preliminary Patent Search - Disclaimer</h3>
    <p>
        The "Preliminary Search" page in this application does not constitute legal advice. It
        does not guarantee an invention's novelty and does not guarantee that the patent prosecution
        process will be less expensive or more timely.
    </p>
</div>